@import 'font.css';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #00498D #E4E4E4;
}
body{
  font-family: 'Proxima Nova';
  background: #f5f9fb;
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #E4E4E4;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #00498D;
}

::-webkit-scrollbar-thumb:hover {
  background: #00498D;
}

.mybtnn{
  padding: 6px 12px;
  border: none;
}

.secbtn{
  background: #fff; 
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07); 
  font-size: 12px; 
  margin-top: 8px; 
  max-width: 250px; 
  width: 100%; 
  border-radius: 6px; 
  display: flex; 
  align-items: center;
  transition: 200ms ease;
}

.secbtn:hover{
  background: #00498D;
}

.secbtn:hover p{
  color: #fff;
}

.secbtn:hover .secbtn__icon{
  background: #fff;
}

.secbtn:hover svg{
  fill: #00498D;
}

.secbtn__icon{
  margin-right: 15px; 
  background: #00498D; 
  border-radius: 4px; 
  min-width: 25px; 
  height: 25px;
  transition: 200ms ease;
}

.secbtn__icon svg{
  fill: #fff;
  transition: 200ms ease;
}

.secbtn__p{
  transition: 200ms ease;
}

.mybtnn:focus,
.mybtn:focus{
  outline: none;
}

.header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 30px;
  padding-left: 15px;
}
.header__title{
  margin-bottom: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #494A4A;
}
.content{
  background: #fff;
  border-radius: 6px;
  padding: 30px 25px 50px;
  max-height: 100%;
  height: 100%;
  width: calc(50% - 200px);
}
.main{
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.fz-14{
  font-size: 14px;
}
.fz-12{
  font-size: 12px;
}
.title{
  color: #494A4A;
  margin-bottom: 1rem;
  width: 100%;
}
.content-div{
  max-height: 100%;
  overflow: hidden;
}
.content__scrollbar{
  overflow-y: scroll;
  height: 320px;
  padding-left: 0;
}
.margin-left-0{
  margin-left: -15px;
  padding-left: 30px;
}

.scrollable__list{
  display: flex;
}
.symbols{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-align: right;
  color: #8B8B8B;
  margin-top: 25px;
  margin-bottom: -25px;
}

.primbtn{
  background: #00498D; 
  margin-top: 8px; 
  max-width: 250px; 
  width: 100%; 
  border-radius: 6px; 
  margin-bottom: 27px;
  transition: 200ms ease;
  color: #fff;
  font-weight: 600;
}

.primbtn:hover{
  background: #fff; 
  color: #00498D;
}

.settings{
  height: 44px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  transition: 200ms ease;
}

.settings:focus{
  outline: none;
}

.settings svg{
  fill: #00498D;
  transition: 200ms ease;
}

.settings:hover{
  background: #00498D;
}

.settings:hover svg{
  fill: #fff;
  transform: rotate(180deg);
}

.aside__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 180px;
  width: 100%;
  height: calc(100vh - 142px);
}

.translate-p{
  width: 100%;
  text-align: center;
}
.select2-container{
  margin: 0 5px;
}
.select2-container--open .select2-dropdown{
  left: -5px;
}
.select2-container--default .select2-selection--single{
  border: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
  color: #222;
}

.item{
  max-width: 250px;
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background: #fff;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
}
.item.current.indicator-red:before{
  content: '';
  border-radius: 50%;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: #E75E5E;
  width: 8px;
  height: 8px;
}
.item.current.indicator-green:before{
  content: '';
  border-radius: 50%;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: #00C48C;
  width: 8px;
  height: 8px;
}
.item.current.indicator-transparent:before{
  content: '';
  border-radius: 50%;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  width: 8px;
  height: 8px;
}
.item.current{
  border: 2px solid #00498D;
}
.item-2{
  max-width: 250px;
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background: #fff;
  border-radius: 6px;
  cursor: pointer;
  position: relative; 
}
.item-2.current.indicator-red:before{
  content: '';
  border-radius: 50%;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: #E75E5E;
  width: 8px;
  height: 8px;
}
.item-2.current.indicator-green:before{
  content: '';
  border-radius: 50%;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: #00C48C;
  width: 8px;
  height: 8px;
}
.item-2.current.indicator-transparent:before{
  content: '';
  border-radius: 50%;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  width: 8px;
  height: 8px;
}
.item-2.current{
  border: 2px solid #00498D;
}
.mybtn{
  background: #FFFFFF;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 8px; 
  border: none; 
  max-width: 180px; 
  width: 100%; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  padding: 10px;
  outline: none; 
  bottom: 0;
  font-weight: 500;
  transition: 200ms ease;
}
.mybtn:hover{
  background: #00C48C;
}
.mybtn p{
  transition: 200ms ease;
}
.mybtn__icon{
  transition: 200ms ease; 
}
.mybtn:hover p{
  color: #fff;
}
.mybtn:hover svg{
  fill: #00C48C;
}
.mybtn:hover .mybtn__icon{
  background: #fff;
}
.mybtn svg{
  fill: #fff;
  transition: 200ms ease;
}

@media (max-width:1200px){
  .aside__item{
    margin: 50px 0;
  }
  .mybtn{
    position: static;
  }
}

input{
  border: none;
}

input::placeholder{
  color: #494A4A;
}

input:focus{
  outline: none;
}

textarea{
  resize: none;
  border: none;
}

textarea::placeholder{
  color: #494A4A;
}

textarea:focus{
  outline: none;
}
.big-textarea{
  padding-right: 5px;
}
.drops{
  display: flex; 
  max-width: 250px; 
  width: 100%; 
  justify-content: space-between; 
  align-items: center;
}
.mybtn__icon{
  background: #00C48C;
  display: flex; 
  align-items: center; 
  justify-content: center; 
  padding: 8px; 
  border-radius: 6px;
}
.myprogress{
  max-width: 250px; 
  width: 100%; 
  margin-top: 5px; 
  height: 20px;
}
.aside__item__bottom__p{
  color: #1A051D; 
  font-size: 12px; 
  margin-bottom: 0;
}
.aside__item__bottom__item{
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  margin-top: 6px; 
  max-width: 250px; 
  width: 100%;
}
.aside__item__bottom__badge{
  font-size: 12px;
  color: #494A4A; 
  margin-left: 5px; 
  border-radius: 4px; 
  width: 44px; 
  height: 21px; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  background: #FFAD4D;
}
.aside__item__bottom__badge:nth-of-type(1){
  background: #E75E5E; 
}
.main__item__p{
  color: #1A051D; 
  font-size: 10px; 
  line-height: 12px; 
  margin-bottom: 0;
}